
 <nav class="navbar navbar-expand-lg navbar-inverse fixed-top">
  <button class="btn btn-light" id="menu-toggle"> 
    <div class="icon-bar">
      <i class="fa fa-bars"></i>
    </div></button>
    <!-- <a class="navbar-brand" routerLink='/home'>PIATRIKA</a> -->
	  <a class="navbar-brand" routerLink='/home'> 
      <img src="../assets/piatrika-logo.png" alt="piatrika-logo" style="height:50px;width:120px;border-radius: 8px;background-color: white;">
    </a>


  <button class="navbar-toggler bg-light" type="button" data-toggle="collapse"
  data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false"

     aria-label="Toggle navigation" style="padding: 10px 12px 10px 12px;font-size: 16px;">
    <div class="icon-bar">
      <i class="fa fa-bars"></i>
    </div>        
  </button>
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent" (click)="ToggleNavBar()">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="list-group-item list-group-item-action navbar-inverse" class="nav-link" routerLink='/home'>Home
        </a>
      </li>
   </ul>
  </div>
</nav>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="navbar-inverse border-right" id="sidebar-wrapper">

      <div class="list-group list-group-flush" id="listgroupflush">

        <a class="list-group-item list-group-item-action mybg" 
          routerLink="/applicationtreatment/add">ApplicationTreatment</a>
        <a class="list-group-item list-group-item-action mybg" routerLink="/bank/add">Bank</a>
        <a class="list-group-item list-group-item-action mybg" routerLink="/crop/add">Crop</a>
        <a class="list-group-item list-group-item-action mybg" routerLink="/divisionmodel/add">Division</a>
        <a class="list-group-item list-group-item-action mybg" routerLink="/farmer/add">Farmer</a>
        <a class="list-group-item list-group-item-action mybg" routerLink="/farmerbank/add">FarmerBank</a>
        <a class="list-group-item list-group-item-action mybg" routerLink="/farmerrelation/add">FarmerRelation</a>
        <a class="list-group-item list-group-item-action mybg" routerLink="/guarantor/add">Guarantor</a>
        <a class="list-group-item list-group-item-action mybg" routerLink="/landvillage/add">LandVillage</a>
        <a class="list-group-item list-group-item-action mybg" routerLink="/loan/add">Loan</a>
        <a class="list-group-item list-group-item-action mybg" routerLink="/person/add">Person</a>
        <a class="list-group-item list-group-item-action mybg" routerLink="/phone/add">Phone</a>
        <a class="list-group-item list-group-item-action mybg" routerLink="/plotvisit/add">PlotVisit</a>
        <a class="list-group-item list-group-item-action mybg" routerLink="/season/add">Season</a>
        <a class="list-group-item list-group-item-action mybg" routerLink="/varietee/add">Variety</a>
        <a class="list-group-item list-group-item-action mybg" routerLink="/village/add">Village</a>

      </div>

    </div>

    <!-- /#sidebar-wrapper -->
  
   
  
  </div>
   <!-- Page Content -->
    <div id="page-content-wrapper">
  
     
      <div class="container-fluid" id="piatrikacontainer">
  
        <router-outlet></router-outlet>
  
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  <!-- /#wrapper -->
